.App {
  display: flex;
}

.left {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.right {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  color: #282c34;
}

li {
  list-style-type: none;
}

.project {
  background-color: rgb(238, 235, 235);
  border-radius: 10px;
}

label {
  margin: 10px;
}

input, select {
  padding: 3px;
  margin-left: 5px;
  border-radius: 7px;
}

.numb {
  width: 50px;
}

button {
  margin: 10px;
}

p {
  font-weight: bold;
  margin: 10px;
}

[data-tooltip] {
  position: relative;
  font-weight: bold;
}

[data-tooltip]:after {
  display: none;
  position: absolute;
  top: -5px;
  padding: 5px;
  border-radius: 3px;
  left: calc(100% + 2px);
  content: attr(data-tooltip);
  white-space: nowrap;
  background-color: #0095ff;
  color: White;
}

[data-tooltip]:hover:after {
  display: block;
}

.border {
  border: 1px solid White;
  border-radius: 15px;
  margin: 10px;
}